*{
 background-color: #f0f0f0; 
}
.btn{
    height: 100px;
    width: 1000px;
    margin-top: 20px;
    gap: 30px;
    display: flex;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.btn1{
     display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
    
}
.btn1:hover{
    color:black;
    background-color: rgb(255,107,53);
    height:35px ;
    width: 95px;
    box-shadow: 0px 0px 5px 5px rgb(248, 214, 151);
    
}
.btn1:hover.a{
    background-color: rgb(255,107,53);
    color: black;
}

h2{
    color: rgb(17,24,39);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
    font-weight: bold;
    text-align: center;
    color: rgb(255,107,53);

}  
.menu{
    font-family:  Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 1px;
    
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ; */

.specification1{
    color: rgb(17,24,39);
    text-align: center;
    margin-top: 20px;
    transition-duration: 1s;
    
}
.food-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; 
    margin-top: 10px;
    transition-duration: 2s;
}
h1{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-align: center;
}
.changed-color{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(229,231,235);
    font-size: 30px;
    color: rgb(255,107,53);
}
@media (max-width:600px) {
    .btn{
    height: 90px;
    width: 500px;
    margin-top: 20px;
    gap: 10px;
    display: flex;
    margin-left: 0%;
    margin-right:auto;
    display: flex;
    justify-content: center;
    cursor: pointer;

    }
}
@media (max-width:1039px) {
    .btn{
    height: 90px;
    width: 500px;
    margin-top: 20px;
    gap: 10px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    cursor: pointer;

    }
}
/* Cold drink */
.drink1{
    height: 400px;
    width: 250px;
    border: 2px solid  gray;
    border-radius: 15px;
    background-color: white;
}
.drink1:hover{
    height: 400px;
    width: 250px;
    border: 2px solid  #f0f0f0; 
    box-shadow: 0px 0px 10px 10px rgb(242, 186, 81);
}
.drink1img{
    height: 180px;
    width: 250px;
    border-radius: 15px 15px 0px 0px;
}
.drink1img:hover{
    height: 190px;
    width: 250px;

}
h4{
    font-size:23px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: white;
}
.text{
    text-align: center;
    font-family: serif;
    font-size: 17px;
     background-color: white;
}
.cart-button{
    color: white;
    font-size: 15px;
    height: 40px;
    width: 140px;
    background-color: rgb(255,107,53);
    border: 2px solid rgb(255,107,53);
    border-radius: 15px;
    font-weight: bold;  
}
.cart-button:hover{
    height: 45px;
    width: 145px;
    background-color: red;
    box-shadow: 0px 0px 5px 5px rgb(236, 192, 118) ;
}

.button{
    display: flex;
     align-items: end;
     padding-left: 50px;
      background-color: white;
}
.price{
    font-size: 20px;
    color:black; 
    text-align: center;
    font-weight: bolder;
    color: rgb(255,107,53);
     background-color: white;
}
.del{
    background-color:  #f0f0f0;
}
.green{
    height: 30px;
    width: 46px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(84, 199, 84);
    color: white;
    font-size: 17px;
    font-weight: bold; 
    text-align: center;
    display: flex;
    justify-content: center;
}
.rating-block{
    height: 30px;
    width: 200px;
    padding-left:  20px;
    padding-bottom:10px;
    background-color: white;
}
.rating-block {
    display: flex;
    align-items: center;
    gap: 9px;
    padding-left: 20px;
    padding-right: 20px;
    
    background-color: white;
}

.rating-text {
    font-size: 17px;
    color: black;
    font-family: serif;
    background-color: white;
}
.rating-text span{
    background-color: white;
    font-weight: bold;
    color:blue;
}