body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.part {
    height: 550px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
}

.shape {

    height: 80px;
    background-color: rgb(136, 198, 145);
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    margin: 20px;
    position: absolute;
    right: 5px;
    left: 5px;
    border: 2px solid rgb(126, 49, 49);
    box-shadow: 3px 3px rgb(126, 49, 49);

}

.img {
    position: absolute;
    top: 100px;

}

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
    color: rgb(126, 49, 49);
}

.para {
    position: absolute;
    top: 240px;
    right: 28px;
    height: 280px;
    width: 550px;
    background-color: transparent;
    border-radius: 10% 100% / 120%;
    border: 2.4px solid green;
    box-shadow: 2px 2px green;
    background-color: antiquewhite;

}

#head {
    color: green;
    text-decoration: underline;
}

#quote {
    color: green;
    text-decoration: dotted;

}

#video {
    position: absolute;
    top: 440px;
    right: 700px;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    background-color: rgba(11, 217, 11, 0.568);
    height: 70px;
    width: 140px;
    text-decoration: none;
}


#quote {
    padding: 4px;
    margin-top: 0px;
    margin-left: 14px;
    text-align: center;
    line-height: 24px;
    font-weight: 550;

}

#head {
    margin-left: 34px;
    padding: 20px;
}

#video:hover {
    cursor: pointer;
    border: 3px solid black;
    box-shadow: 0 0 1px black;
}

.para:hover {

    border: solid green;
    box-shadow: 4px 4px green;
}

.shape:hover {
    border: solid rgb(126, 49, 49);
    box-shadow: 4px 4px rgb(126, 49, 49);
    text-decoration: underline rgb(126, 49, 49);

}

/* for mobile */
@media(min-width:100px) and (max-width:600px) {
    .part {
        height: 1200px;
        width: fix;
    }

    .shape {
        height: 100px;
    }


    .img {
        position: absolute;
        top: 138px;
        height: 40px;
        width: 220px;
    }

    #video {
        position: absolute;
        top: 1000px;
        right: 220px;
    }

    .para {
        position: absolute;
        top: 666px;
        right: 20px;
    }
}

/* tab */
@media(min-width:601px) and (max-width:992px) {
    .part {
        height: 1160px;
        width: fix;
    }

    .shape {
        height: 100px;
    }

    .img {
        position: absolute;
        top: 138px;
        left: 52px
    }

    #video {
        position: absolute;
        top: 1000px;
        right: 300px;
    }

    .para {
        position: absolute;
        top: 666px;
        left: 78px;
    }
}

/* Laptop */
@media(min-width:993px) and (max-width:1300px) {
    .part {
        height: 800px;
        width: fix;
    }

    .shape {
        height: 100px;
    }


    .img {
        position: absolute;
        top: 138px;
        left: 20px height="300px" width="400px"
    }

    #video {
        position: absolute;
        top: 680px;
        right: 520px;
    }

    .para {
        position: absolute;
        top: 278px;
        right: 20px;
    }
}
