body {
    font-family: Georgia, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.contact {
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    padding: 40px 20px;
}

.contact-heading {
    text-align: center;
    color: rgb(17, 24, 39);
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.contact-logo {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.logo1 {
    height: 25px;
    margin-right: 10px;
}

.contact-text-heading {
    font-size: 22px;
    font-weight: bold;
}

.contact-text {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.info-box {
    width: 330px;
    background-color: #fff7ee;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #f9d2ac;
    box-shadow: 0 4px 20px rgba(255, 165, 0, 0.1);
    animation: test 3s;
}

@keyframes test {
    0% {
        margin-left: 0;
        margin-right: 0;
    }

    50% {
        margin-top: 20px
    }

    100% {
        margin-left: 0;
        margin-right: 0;
    }
}

.info-box:hover {
    transition: 0.5s ease;
    transform: scale(1.09);
    box-shadow: 0 6px 25px rgba(255, 165, 0, 0.2);
    background-color: #fca03e;
}

.contact-form {
    background-color: #fbe0c0;
    padding: 25px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    width: 670px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-family: Georgia, serif;
    font-size: 14px;
}

.contact-form button {
    padding: 12px 25px;
    background-color: rgb(255, 107, 53);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #d55121;
    margin-top: 2px;
    margin-right: 1px;
    transition: 0.5s;
    box-shadow: 1px 1px 10px 1px #d55121;
    transform: scale(1.1);
}

.map-heading {
    text-align: center;
    margin-top: 60px;
    color: rgb(17, 24, 39);
}

.map-box {
    width: 1170px;
    height: 300px;
    margin: 10px;
}

.contact-link {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
}


@media (max-width: 560px) {
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .info-box {
        width: 300px;
        margin-bottom: 30px;
        animation: none;
    }

    .contact-form input,
    .contact-form textarea {
        width: 290px;

    }

    .map-box {
        width: 340px;
        height: 300px;
    }
}
