body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.food-logo{
       display:flex; 
    flex-wrap: wrap; 
    justify-content:center;
}

 #logoimage{
    height:580px;
    width:600px;
    border:none
} 


.offer{
    font-size: 40px;
    color: rgb(8, 29, 8);
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}