 body {
     margin: 0;
     /* padding: 0; */
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #f0f0f0;
     font-family:Georgia, 'Times New Roman', Times, serif;
 }

 *{
    box-sizing: border-box;
 }

 .subdiv {
     display: flex;
     flex-direction: column;
     background-color: #050505;
     padding: 0px;
     border-radius: 10px;
     max-width: 700px;
     margin: auto;
     width: 100%;
     padding: 20px;

 }

 .text {
     width: 100%;
     padding: 6px;
     margin-bottom: 10px;
     border: 1px solid black;
     border-radius: 5px;
     font-size: 14px;
 }


 .maindiv {
     width: 400px;
     padding: 8px;
     background: #2f8a44;
     /* color: rgb(200, 32, 32); */
     border: none;
     border-radius: 5px;
     font-size: 14px;
     cursor: pointer;
 }
