 body{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
 }
 .form-container{
    box-sizing: border-box;
    margin-top: 50px;
    padding: 50px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    font-family: Georgia, serif;
    background-color: #ffffff;
 }
 .form-container .form1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding: 30px 40px;
    border: solid 1.5px  #7e7b7b;
    border-radius: 5px;
     box-shadow: 2px 3px 5px 2px #7e7b7b;
 }
 .form1 span{
    font-size: 23px;
    text-align: center;
   width: 100%;
   font-weight: 700;
    color: rgb(255,107,53);
 }
 .input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    font-weight: bold;  
 }
 .input-group input{
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    width: 250px;
 }
 .input-group input:focus{
    border: 1.5px solid #cc5900;
 }
 .input-group textarea{
    width: 250px;
    outline: none;
    border-radius: 5px;
 }
 .input-group textarea:focus{
    border: 1.5px solid #cc5900;
 }
 .input-group select{
    width: 250px;
    height: 25px;
    outline: none;
 }
 .submit-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
 }
 .submit-btn{
    padding:10px 20px;
    background-color: rgb(255,107,53);
    border: none;
    border-radius: 5px;
 }
 .submit-btn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
 }
 .submit-btn:hover{
    background-color: #cc5900;
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
 }