*{
 background-color: #f0f0f0; 
}
.btn{
    height: 100px;
    width: 1000px;
    margin-top: 20px;
    gap: 30px;
    display: flex;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #f0f0f0; 
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
      
}
.btn1:hover{
    color:black;
    background-color: rgb(255,107,53);
    height:35px ;
    width: 95px;
    box-shadow: 0px 0px 5px 5px rgb(248, 214, 151);   
}
.btn1:hover.a{
    background-color: rgb(255,107,53);
    color: black;
}
h2{
    color: rgb(17,24,39);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
    font-weight: bold;
    text-align: center;
    color: #eda726;
}  
.menu{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 1px;
}   
/* Main Course */

.box1{
    height: 500px;
    width: 500px;
    border: 2px solid  #f0f0f0;;
    display: inline-block;
    margin-right:10%;
    margin-left: 10%;
    display: inline-block;
    border:2px solid#f0f0f0; 
}
.box2{
    height: 500px;
    width: 500px;
    border: 2px solid  #f0f0f0;;
    display: inline-block;
    border:2px solid #f0f0f0; 
}
.rotating {
    width: 500px;
    height: 500px;
    background-image: url('../images/dish10.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    animation: spin 10s linear infinite ;
    
}
.plate {
    width: 500px;
    height: 500px;
    background-image: url('../images/dish2.png'); 
    background-size: cover;
    background-position: center;
}   
     @keyframes spin {
      100% { transform: rotate(360deg);
     }
} 
/* media query */
@media (max-width:600px) {
    .btn{
    height: 90px;
    width: 500px;
    margin-top: 20px;
    gap: 10px;
    display: flex;
    margin-left: 0%;
    margin-right:auto;
    display: flex;
    justify-content: center;
    cursor: pointer;

    }
    
}

@media (max-width:1300px) {
    .btn{
    height: 90px;
    width: 500px;
    margin-top: 20px;
    gap: 10px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    cursor: pointer;

    }
    .box1{
    height: 400px;
    width: 400px;
    border: 2px solid  #f0f0f0;;
    display: inline-block;
   margin: auto;
    display: inline-block;
    border:2px solid #f0f0f0; 
    margin-right:10%;
    margin-left: 10%;
}
.box2{
    height: 400px;
    width: 400px;
    border: 2px solid  #f0f0f0;;
    display: inline-block;
    border:2px solid #f0f0f0; 
}
.rotating {
    width: 400px;
    height: 400px;
    background-image: url('../images/dish10.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    animation: spin 10s linear infinite ;
    
}
.plate {
    width: 400px;
    height: 400px;
    background-image: url('../images/dish2.png'); 
    background-size: cover;
    background-position: center;
}   
}

@media (max-width:1100px){
    .box1{
        height: 350px;
        width: 350px;
    }
    .box2{
        height: 350px;
        width: 350px;
    }
    .rotating{
         height: 350px;
        width: 350px;
    }
    .plate{
         height: 350px;
        width: 350px;
    }
}
@media (max-width:930px){
    .box1{
        height: 300px;
        width:300px;
    }
    .box2{
        height: 300px;
        width: 300px;
    }
    .rotating{
         height: 300px;
        width: 300px;
    }
    .plate{
         height: 300px;
        width:300px;
    }

}
@media (max-width:700px){
    .box1{
        height: 180px;
        width: 180px;
    }
    .box2{
        height: 180px;
        width: 180px;
    }
    .rotating{
         height: 180px;
        width: 180px;
    }
    .plate{
         height: 180px;
        width: 180px;
    }
}


