*{
 background-color: #f0f0f0; 
}
.btn{
    height: 100px;
    width: 1000px;
    margin-top: 20px;
    gap: 30px;
    display: flex;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.btn1{
     display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
    
}
.btn1:hover{
    color:black;
    background-color: rgb(255,107,53);
    height:35px ;
    width: 95px;
    box-shadow: 0px 0px 5px 5px rgb(248, 214, 151);
    
}
.btn1:hover.a{
    background-color: rgb(255,107,53);
    color: black;
}

h2{
    color: rgb(17,24,39);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
    font-weight: bold;
    text-align: center;
    color: rgb(255,107,53);

}  
.menu{
    font-family:  Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 1px;
    
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ; */

.specification1{
    color: rgb(17,24,39);
    text-align: center;
    margin-top: 20px;
    transition-duration: 1s;
    
}
.food-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; 
    margin-top: 10px;
    transition-duration: 2s;
}
h1{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-align: center;
}
.changed-color{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(229,231,235);
    font-size: 30px;
    color: rgb(255,107,53);
}
/* Box 1*/
.food1{
    height: 250px;
    width: 290px;
    background-color: white;
    border: 2px solid rgb(226, 210, 210);
    border-radius: 10px;
    transition-duration: 1s;
    align-items: center; 
    box-shadow:0px 0px 4px 4px #f4e1be;   
}
.img1{
    background-color: white;
    padding-top: 5px;
    transform: translatex(130px);
}
.text{
     background-color: white;
     font-family: serif;
     font-weight: 100;
     align-items: center;
     text-align: center;
}
.food1:hover{
    height: 260px;
    width: 300px;
    background-image: url(../images/food1.png);
    box-shadow:0px 0px 15px 10px #fddb9d; 
    background-color: white;
    background-size:cover;
    border-radius: 15px;
}
.food1:hover .text{
    display: none;
}
span{
    background-color: white;
    font-family: Georgia;
    font-weight: 1000;
    font-size: 20px;
}
/* Box 2*/

.food2{
    height: 250px;
    width: 290px;
    background-color: white;
    border: 2px solid rgb(226, 210, 210);
    border-radius: 10px;
    transition-duration: 1s;
    align-items: center; 
    box-shadow:0px 0px 4px 4px #f4e1be;   
}
.img2{
    background-color: white;
    padding-top: 5px;
    transform: translatex(130px);
}
.text{
     background-color: white;
     font-family: serif;
     font-weight: 100;
     align-items: center;
     text-align: center;
}
.food2:hover {
    height: 260px;
    width: 300px;
    background-image: url(../images/food2.png);
    box-shadow: 0px 0px 15px 10px #fddb9d;
    background-color: white;
    background-size: cover;
    border-radius: 15px;
}

.food2:hover .text {
    display: none;
}

span{
    background-color: white;
    font-family: Georgia;
    font-weight: 1000;
    font-size: 20px;
}

/* box3 */
.food3{
    height: 250px;
    width: 290px;
    background-color: white;
    border: 2px solid rgb(226, 210, 210);
    border-radius: 10px;
    transition-duration: 1s;
    align-items: center; 
    box-shadow:0px 0px 4px 4px #f4e1be;   
}
.img3{
    background-color: white;
    padding-top: 5px;
    transform: translatex(130px);
}
.text{
     background-color: white;
     font-family: serif;
     font-weight: 100;
     align-items: center;
     text-align: center;
}
.food3:hover {
    height: 260px;
    width: 300px;
    background-image: url(../images/food3.png);
    box-shadow: 0px 0px 15px 10px #fddb9d;
    background-color: white;
    background-size: cover;
}
.food3:hover .text {
    display: none;
}

span{
    background-color: white;
    font-family: Georgia;
    font-weight: 1000;
    font-size: 20px;
}
/* box4 */

.food4{
    height: 250px;
    width: 290px;
    background-color: white;
    border: 2px solid rgb(226, 210, 210);
    border-radius: 10px;
    transition-duration: 1s;
    align-items: center; 
    box-shadow:0px 0px 4px 4px #f4e1be;   
}
.img4{
    background-color: white;
    padding-top: 5px;
    transform: translatex(130px);
}
.text{
     background-color: white;
     font-family: serif;
     font-weight: 100;
     align-items: center;
     text-align: center;
}
.food4:hover {
    height: 260px;
    width: 300px;
    background-image: url(../images/food4.png);
    box-shadow: 0px 0px 15px 10px #fddb9d;
    background-color: white;
    background-size: cover;
}
.food4:hover .text {
    display: none;
}
span{
    background-color: white;
    font-family: Georgia;
    font-weight: 1000;
    font-size: 20px;
}
/* box5 */

.food5{
    height: 250px;
    width: 290px;
    background-color: white;
    border: 2px solid rgb(226, 210, 210);
    border-radius: 10px;
    transition-duration: 1s;
    align-items: center; 
    box-shadow:0px 0px 4px 4px #f4e1be;   
}
.img5{
    background-color: white;
    padding-top: 5px;
    transform: translatex(130px);
}
.text{
     background-color: white;
     font-family: serif;
     font-weight: 100;
     align-items: center;
     text-align: center;
}
.food5:hover {
    height: 260px;
    width: 300px;
    background-image: url(../images/food5.png);
    box-shadow: 0px 0px 15px 10px #fddb9d;
    background-color: white;
    background-size: cover;
}
.food5:hover .text {
    display: none;
}
span{
    background-color: white;
    font-family: Georgia;
    font-weight: 1000;
    font-size: 20px;
}
/* box6 */
.food6{
    height: 250px;
    width: 290px;
    background-color: white;
    border: 2px solid rgb(226, 210, 210);
    border-radius: 10px;
    transition-duration: 1s;
    align-items: center; 
    box-shadow:0px 0px 4px 4px #f4e1be;   
}
.img6{
    background-color: white;
    padding-top: 5px;
    transform: translatex(130px);
}
.text{
     background-color: white;
     font-family: serif;
     font-weight: 100;
     align-items: center;
     text-align: center;
}
.food6:hover{
    height: 260px;
    width: 300px;
    background-image: url(../images/food6.png);
    box-shadow:0px 0px 15px 10px #fddb9d; 
    background-size:cover;
     border-radius: 15px; 
}
.food6:hover .text{
        display: none;
        background-color: white;
    }
span{
    background-color: white;
    font-family: Georgia;
    font-weight: 1000;
    font-size: 20px;
}
@media (max-width:600px) {
    .btn{
    height: 90px;
    width: 500px;
    margin-top: 20px;
    gap: 10px;
    display: flex;
    margin-left: 0%;
    margin-right:auto;
    display: flex;
    justify-content: center;
    cursor: pointer;

    }
}
@media (max-width:1039px) {
    .btn{
    height: 90px;
    width: 500px;
    margin-top: 20px;
    gap: 10px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    cursor: pointer;

    }
}

/* All items */
.thali1{
    height: 420px;
    width: 350px;
    border: 2px solid  #f0f0f0;
    border-radius: 15px;
    background-color: white;
     box-shadow: 0px 0px 5px 5px rgb(220, 216, 216); 
}
.thali1:hover{
    height: 430px;
    width: 350px;
    border: 2px solid  #f0f0f0; 
    box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.72);
}
.thali1img{
    height: 180px;
    width: 350px;
    border-radius: 15px 15px 0px 0px;
}
.thali1img:hover{
    height: 190px;
    width: 360px;

}
h4{
    font-size:23px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: white;
}
.text{
    text-align: center;
    font-family: serif;
    font-size: 17px;
     background-color: white;
}
.cart-button{
    color: white;
    font-size: 15px;
    height: 40px;
    width: 140px;
    background-color: rgb(255,107,53);
    border: 2px solid rgb(255,107,53);
    border-radius: 15px;
    font-weight: bold;  
}
.cart-button:hover{
    height: 45px;
    width: 145px;
    background-color: red;
    box-shadow: 0px 0px 5px 5px rgb(236, 192, 118) ;
}

.button{
    display: flex;
     align-items: end;
     padding-left: 100px;
      background-color: white;
}
.price{
    font-size: 20px;
    color:black; 
    text-align: center;
    font-weight: bolder;
    color: rgb(255,107,53);
     background-color: white;
}
.del{
    background-color:  #f0f0f0;
}
.Thali.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; 
    margin-top: 10px;
    transition-duration: 2s;
}



