body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(30px);
}

.logo img {
  height: 60px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(55, 65, 81);
  font-weight: bold;

}

.nav-links a:hover {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  color: rgb(255, 107, 53);
  text-decoration: underline;
}

.cart-button {
  display: flex;
  align-items: center;
  gap: 7px;
  border: none;
  padding: 10px 12px;
  background-color: rgb(255, 107, 53);
  border-radius: 8px;

}

.cart-button a {
  text-decoration: none;
  font-weight: 600;
  color: #f0f0f0;
  font-size: 16px;
}

.cart-button:hover {
  background-color:#cc5900;
  cursor: pointer;
  transition: 0.5s ease;
  transform: scale(1.1);

}

.cart-button img {
  height: 16px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

}
