body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.sustain {
    margin: 0px;
    background-image: url(../images/back.svg);
    background-size: cover;
    padding-bottom: 40px;
}

#spanSustain {
    color: rgb(255, 0, 0);
}

.pratik {
    display: flex;
    justify-content: center;
}

.main-heading {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
}

.sustainabilityHeading {
    height: 80px;
    background-color: rgb(231, 240, 232);
    border-radius: 28px;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid rgb(126, 49, 49);
    box-shadow: 3px 3px rgb(126, 49, 49);
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leafimg {
    margin-right: 38px;
    animation: spin 1.8s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg)
    }

    ;
}

.img-line-container {
    margin-top: 40px;
}

.imgAndLine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.earth {
    height: 400px;
    width: 440px;
    margin-left: 0px;
}

.earth img{
    width:100%;
    height: 100%;
}

.line1Line2{
    width: 600px;
}

.line1 {
    font-size: larger;
    font-weight: 600;
    color: rgb(30, 127, 15);
}

.line2 {
    font-size: 20px;
    line-height: 29px;
}

#ButtonOne {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgba(11, 217, 11, 0.568);
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    letter-spacing: 1px;
}

#ButtonTwo {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgba(11, 217, 11, 0.568);
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    letter-spacing: 1px;
}

.btn1-btn2 {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.btn {
    color: black;
}

#ButtonOne:hover {
    cursor: pointer;
    box-shadow: 0 0 1px black;
    box-shadow: 0px 0px 6px 1px rgb(52, 50, 50);
    transition: 0.2s;
    transform: scale(1.05)
}

#ButtonTwo:hover {
    cursor: pointer;
    box-shadow: 0 0 1px black;
    box-shadow: 0px 0px 6px 1px rgb(52, 50, 50);
    transition: 0.2s;
    transform: scale(1.05)
}

.wiki-heading-container {
    margin-top: 0px;
}

.ecoClass {
    margin-top: 0px;
    font-size: 30px;
    padding: 10px;
    color: rgb(8, 29, 8);
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ecoLine {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 30px;
}

#eco {
    color: rgb(30, 190, 30);
}

#flavor {
    color: rgb(255, 64, 0);
}



.wikipedia-giftcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
    padding: 20px;
}

.wiki-link {
    width: 800px;
    padding: 20px;
}

.wiki-link iframe{
    width: 100%;

}
 
.color {
    color: rgb(128, 62, 12);
}

.giftCard {
    background-color: aquamarine;
    padding: 30px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    margin: 10px;
}

.giftCard:hover {
    background-color: aquamarine;
    padding: 30px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    border: 1px solid black;
    margin: 10px;
    transform: scale(1.05);
    box-shadow: 2px 4px 9px 1px rgb(52, 50, 50);
    transition: 0.2s;
}

h2 {
    color: rgb(157, 11, 219);
    font-size: 24px;
}

.surprise {
    color: #555;
    margin: 10px 0;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #023013;
}

.buyButton {
    cursor: pointer;
    background-color: #266c48;
    color: white;
    padding: 12px 24px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
}