
#byte{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
    color: rgb(126, 49, 49);
    border: black;
}
a{
    text-decoration: none;
}

.sustain{
    margin:0px;
    background-image:url(../images/back.svg) ;
    background-size:cover;
    /* display: flex; */
    /* flex-direction: row; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */

}

span{
    color: rgb(255, 0, 0);
}

.pratik{
    display: flex;
    justify-content: center;
}

.main-heading{
    font-size: 30px;
    font-weight: 900;
    letter-spacing:1px;
    /* color: rgb(207, 65, 22); */
}


.sustainabilityHeading{
    height: 80px;
    background-color: rgb(231, 240, 232);
    border-radius: 28px;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    /* position: absolute; 
    right: 20px;
    left: 25px; */
    border: 2px solid rgb(126, 49, 49);
    box-shadow: 3px 3px rgb(126, 49, 49);

    width:1000px;


    display: flex;

    align-items: center;
    justify-content: center;

}


.leafimg{
    margin-right: 38px;
}


.earth{
    margin-left: 0px;
}


.img-line-container{
    /* background-color: rgb(177, 39, 39);
    /* display: flex; */
    /* flex-direction: row; */

    /* background-color: #e8dbdb; */
    display:flex; 
    /* flex-wrap: wrap;  */
    justify-content:space-evenly;
    margin-top: 40px;
    /* padding:0px; */
}


.imgAndLine{
    /* display:inline-block; */
    border: 2px black;
    /* flex-direction: row; */


    /* align-items: center; */

        /* display:flex;  */
    /* flex-wrap: wrap;  */
    /* justify-content:center;
    display: inline-block;
    align-items: center;
    border: 2px bisque; */

    height: 400px;
    width: 600px;
    /* margin-left:40px; */
    /* padding:28px; */
    margin-bottom: 0px;
    /* text-align:; */
    font-size:20px;
    margin-top: 0px;
    /* line-height: 86px; */
    margin-right: 40px;
}

.line1{
    font-size: larger;
    font-weight: 600;
    color: rgb(43, 155, 25);
}

.line2{
    font-size: 20px;
    line-height: 29px;
}

.Buttonss{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 80px;
    justify-content: space-around;

}

#twoButtons{
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgba(11, 217, 11, 0.568);
    font-size: 20px;
    font-weight:bold;
    border-radius: 20px;
    letter-spacing: 1px;
    color: black;

}

.btn{
    color: black;
}












/* for mobile */
@media(min-width:100px) and (max-width:600px) {
    .img-line-container{
        display: flex;
        flex-direction: column;
}





























/* .img{
    margin-left: 20px;
}

.heading{
    margin-top:56px;
    margin-left:55px ;
}

h3{
    margin-right: 3px;
}

#font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#social{
    position:absolute;
    top:392px;
    right:220px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgba(11, 217, 11, 0.568);
    font-size: 20px;
    font-weight:bold;
    border-radius: 20px;
    letter-spacing: 1px;

    
}

#social:hover{
    cursor: pointer;
    border: 3px solid black;
    box-shadow:0 0 1px black;
}

/* .btn1{
    font-size: larger;
} */
/* #commitment{
    position:absolute;
    top:392px;
    right:490px;
    padding: 20px;

    border: 2px solid black;
    background-color: rgba(11, 217, 11, 0.568);
    font-size: 20px;
    font-weight:bold;
    border-radius: 20px;
    letter-spacing: 1px;
}

#commitment:hover{
    cursor: pointer;
    border: 3px solid black;
    box-shadow:0 0 1px black;
}

a{
    text-decoration: none;
    color:black;
} */

/* for mobile */
/* @media(min-width:100px) and (max-width:600px){
    .sustain{
        width:fix;
        height:1000px;
        flex-direction: column;
    }

    .heading{
    margin-top:15px;
    margin-left:55px ;
    }


    #social{
        position:absolute;
        top:886px;
        right:50px;
    }
    #commitment{
        position:absolute;
        top:886px;
        right:240px;
    }


} */

/* tab */
/* @media(min-width:601px) and (max-width:992px) {
    .sustain{
        width:fix;
        height:1000px;
        flex-direction: column;
    }

    
    .heading{
    margin-top:15px;
    margin-left:55px ;
    }


    .img{
        margin-left: 44px;
    }

    #social{
        position:absolute;
        top:860px;
        right:118px;
    }
    #commitment{
        position:absolute;
        top:860px;
        right:360px;
    }

} */

/* Laptop */
/* @media(min-width:993px) and (max-width:1300px){
        #social{
        position:absolute;
        top:390px;
        right:26px;
    }
    #commitment{
        position:absolute;
        top:390px;
        right:240px;
    }

}

.div1{
    background-color:rgb(164, 202, 142) ;
    width:800px;
    margin: 40px;
    margin-left: 80px;
    margin-top: 60px;
    border-radius: 20px;
}

#grocery{
    font-size: 40px;
    margin:20px;
    margin-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#promise{
    font-size:20px;
    font-weight: 400;
    margin:40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


video{
    height: 490px;
    width: 400px;
    margin: 0%;
    padding: 0%;
}
.div2{
    border-radius:20px;
    padding: 0%;
    margin-right: 0px;
    background-color: rgb(136, 94, 54);
    height: 500px;
    margin-top: 60px;
    margin-left:140px;

} */


