body{
    background-color: #f0f0f0; 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.body{
    color: black;
    height: 700px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255,107,53);
    font-size: 30px;
    padding: 200px;
    font-weight:bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.submit p{
    font-size: 25px;
}

a{
    text-decoration: none;
    color: black;
}
.back{
   
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0%;
    font-size: 30px;

}
@media (max-width:700px){
    .submit{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255,107,53);
    font-size: 25px;
   transform: scale(1.1);
   transition: all 0.5s ease;
    padding: 100px;
    
}
.submit p{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}

}
body{
    background-color: #f0f0f0; 
    
}
.body{
    color: black;
    height: 700px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255,107,53);
font-size: 25px;
    font-weight:bold;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
@media (max-width:700px){
    .submit{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255,107,53);
    font-size: 25px;
   transform: scale(1.1);
   transition: all 0.5s ease;
}
a{
    text-decoration: none;
    color: black;
}

}
@media (min-width:360px) and (max-width:500px){
    .submit p{
        font-size: 16px;
    }
    .submit{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255,107,53);
        font-size: 20px;
        padding: 100px;
        font-weight:bold;
        text-align: center;
    }

}