body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}
.thankudiv{
    text-align: center;
}

.word{
    color: rgb(173, 89, 33);
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 20px;
}
.lineappreciated{
    color: rgb(194, 58, 0);
    font-size: 30px;
    font-weight:400;
    margin: 20px;
}
.backbtn{
        font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
}